---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <a href="https://www.gptacg.fun" target="_blank" style="margin-bottom: 10px; color: #ff6347; text-decoration: none; font-weight: bold;">返回网站</a>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">蛋壳</span>
    <span class="gpt-subtitle">AI助理</span>
  </div>
  <p mt-1 op-60>您可以问我关于本站使用的任何问题，比如：如何购买gpt-4的API-Key？</p>
</header>
